@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

.bg-img-container{
    height: 100vh;
    width: 100vw;
}

html body{
    background-color: black;
    color: #fff;
    scroll-behavior: smooth;
}

.bg-img-container img{
    position: absolute;
    top: calc(60% - 390px);
    left: calc(50%);
    transform: translate(-50%,-50%);
}

.fog-7{
    position: absolute;
    top: calc(20% - 390px);
    left: calc(50% + 200px);
    transform: translate(-50%,-50%);
}

.mountain-10{
    width: 50vw;
    position: absolute;
    top: calc(20% - 420px);
    left: calc(60% + 200px);
    transform: translate(-50%,-50%);
}

.fog-6{

    position: absolute;
    top: calc(30% - 390px);
    left: calc(40% + 200px);
    transform: translate(-50%,-50%);
}

.mountain-9{
    height: 70vh;
    position: absolute;
    top: calc(20% - 350px);
    left: calc(10% + 50px);
    transform: translate(-50%,-50%);
}

.mountain-8{
    height: 80vh;
    position: absolute;
    top: calc(30% - 400px);
    left: calc(15% + 100px);
    transform: translate(-50%,-50%);
}

.text{
    /* background-color: coral; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: calc(5% - 500px);
    left: calc(50% + 50px);
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 0.9;

    
}

.text h2{
    font-size: 4rem;
    font-weight: 100;
}


.text h1{
    font-weight: 800;
    font-size: 5.5rem;
}


.fog-5{
    position: absolute;
    top: calc(60% - 400px);
    left: calc(30% + 200px);
    transform: translate(-50%,-50%);
}

.mountain-7{
    height: 70vh;
    position: absolute;
    top: calc(20% - 490px);
    left: calc(30% + 380px);
    transform: translate(-50%,-50%);
}

.mountain-6{
    height: 70vh;
    position: absolute;
    top: calc(35% - 500px);
    left: calc(50% + 450px);
    transform: translate(-50%,-50%);
}

.fog-4{
    position: absolute;
    top: calc(55% - 400px);
    left: calc(50% + 200px);
    transform: translate(-50%,-50%);
}

.mountain-5{
    height: 50vh;
    position: absolute;
    top: calc(50% - 350px);
    left: calc(20% + 380px);
    transform: translate(-50%,-50%);
}

.mountain-4{
    height: 65vh;
    position: absolute;
    top: calc(50% - 455px);
    left: calc(10% + 50px);
    transform: translate(-50%,-50%);
}

.fog-3{
    position: absolute;
    top: calc(40% - 400px);
    left: calc(40% + 200px);
    transform: translate(-50%,-50%);
}

.mountain-3{
    height: 60vh;
    position: absolute;
    top: calc(45% - 450px);
    left: calc(80% + 70px);
    transform: translate(-50%,-50%);
}


.fog-2{
    position: absolute;
    top: calc(40% - 400px);
    left: calc(40% + 200px);
    transform: translate(-50%,-50%);
}

.mountain-2{
    height: 70vh;
    position: absolute;
    top: calc(15% - 450px);
    left: calc(55% + 60px);
    transform: translate(-50%,-50%);
}

.mountain-1{
    height: 100vh;
    width: 30vw;
    position: absolute;
    top: calc(30% - 500px);
    left: calc(9% + 7px);
    transform: translate(-50%,-50%);
}

.sun-rays{
    height: 60vh;
    position: absolute;
    top: calc(0% - 490px);
    left: calc(100% + 60px);
    transform: translate(-50%,-50%);
}


.shadow{
    width: 100vw;
    position: absolute;
    top: calc(40% - 400px);
    left: calc(40% + 200px);
    transform: translate(-50%,-50%);
}

.fog-1{
    width: 100vw;
    position: absolute;
    top: calc(30% - 400px);
    left: calc(40% + 200px);
    transform: translate(-50%,-50%);
}


/* popular place cards */

.popular-places{
    height: 600px;
    width: 100vw;
}

/* tour category */
.TourCategory{
    /* background-image: url("River.jpeg"); */
    background-size: cover;
}

.overlay{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.boxes{
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  backdrop-filter: blur(30px);
  border-radius: 15px;

}

.box{
    border-radius: 10px;
    cursor: pointer;
}
/* 
.box:hover {
  box-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #00f0ff, 0 0 40px #00f0ff;
  transform: scale(1.05);
} */



.inner-box{
    overflow-y: scroll;
}